<footer class="shadow">
  <div class="section section-primary">
    <div class="bgheader" style="background-image: url(assets/images/bg-head.jpg);background-position: -200px 0px;  background-repeat: no-repeat;"></div>
    <div class="container ">
      <div class="row">
        <!-- END col-md-4 -->
        <div class="col-md-12" style="color: white">
          <h5>
            A PRIX D'OR ©</h5>
          <p class="footer-text">Le contenu du site est la propriété exclusive de la société
            A PRIX D'OR' ©. Toute représentation totale ou partielle de ce site et de son contenu, par quelque procédé que ce soit, sans
            l'autorisation préalable expresse de la société
            A PRIX D'OR, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de
            la Propriété intellectuelle.
          </p>
          <div style="text-align: center; color: white;">Tel:
            06 50 49 03 30 - SIREN: 795 015 957</div>
        </div>
        <!-- END col-md-12 -->
      </div>
      <!---row container -->
    </div>
    <!---end container -->
  </div>
  <!---section container -->
</footer>
