.assu {
	padding-left: 0px; 
	padding-right: 0px; 
	margin-bottom: 25px; 
	display: block; 
	background-color: white;
	margin: 30px 0px;
	.assu-title {
		position: relative; 
		font-weight: bold; 
		color: #54c4ec; 
		font-size: 1.5em;
		.line {
			position: absolute; 
			background: #2d9eff; 
			height: 2px;
			width: 90%; 
			margin: 0px auto; 
			left: 50%; 
			transform: translate(-50%, 0); 
			top: 26px;
		}
		h2 {
			padding: 0px 10px; top: -25px;
			position: absolute;
			background-color: white;
			color: #2d9eff;
			left: 50%;
			transform: translate(-50%, 0);
			white-space: nowrap;
			font-size: 1.3em !important;
		}
	}
}