			<div class="col-md-12 content">

				<div style="width: 100%; text-align: center;">
					<img src="/assets/images/icone_metier-serruerie.png">
				</div>

				<h3 class="title">Un serrurier à l'écoute de ses clients</h3>
        <p>
          Depuis de nombreuses années, A Prix d'Or propose différents services de qualité à ses clients.<br/>
          En réponse à leurs soucis de serrurerie sur VILLE. <br/>, nous leur proposons par exemple d’ouvrir les portes bloquées, de déverrouiller les serrures, de faire des blindages de porte, etc. Grâce à chacun de nos experts en serrurerie formés et expérimentés, nous avons pu fournir des prestations de services fiables et de qualité.<br/>
          <br/>
          Nos serruriers sont à votre entière disposition et vous proposent une gamme d'interventions et de dépannages en serrurerie toute l'année sur VILLE. Nous vous proposons la solution la plus adaptée.<br/>
          En plus du changement de serrure à l'identique, nos techniciens sont formés pour vous apporter des solutions complémentaires afin d'améliorer la sécurité de votre porte.<br/>
          Ils sont en mesure de poser une serrure 3 points, un verrou haute sécurité ou de remplacer le cylindre de la serrure grâce à leur formation et leur expérience dans le domaine de la serrurerie.<br/>
        </p>
				<h3 class="title">Prestations de serrurerie sur VILLE</h3>

				L’effraction, le cambriolage, le vol sont des atteintes graves, et constituent une violation. Nos serruriers  vous procurent sécurité en :
				<br/>
				<ul style="font-weight: bold;">
					<li>Renforçant la porte d’entrée</li>
					<li>Blindant la porte</li>
					<li>Installant des alarmes de sécurité</li>
					<li>Fixant un barreaudage le long de la clôture</li>
					<li>Installant des persiennes métalliques</li>
				</ul>


				<h3 class="title">Un professionnalisme rassurant</h3>
				<br/>
        <p>
          Se retrouver à l’extérieur de son domicile après qu’un courant d’air ait claqué la porte, une clé cassée dans la serrure, ces deux situations ont pour effet immédiat de créer une ambiance pour le moins tendue. <br/>
          L’arrivée de l’expert de notre serrurerie se révèle un excellent calmant, le client constatant immédiatement qu’il a à faire à un vrai professionnel.<br/>
          Devant les situations les plus complexes, les serruriers d'A Prix d'Or mettent en œuvre leur savoir-faire. La précision des gestes et la rapidité d’analyse du problème ont un effet rassurant pour le client pour qui cette expérience n’est déjà plus qu’un mauvais souvenir.<br/>
          <br/>
          Le respect du client comme règle de conduite<br/>
          <br/>
          La notoriété acquise par A Prix d'Or ne doit rien au hasard. Elle est le fruit de la qualité de ses interventions de serrurier avec le respect du client. Intervenir dans les délais les plus courts, être efficace et disponible, telle est la politique de notre serrurerie.<br/>
          <br/>
          Votre sécurité étant notre priorité, les serruriers d'A Prix d'Or sont disponibles à toute heure de lundi à vendredi, pendant le week-end, les jours fériés et pendant les vacances sur VILLE.<br/>
          <br/>
          Faites-nous confiance, aucune serrure n’a de secret pour nous.
				</p>

			</div>